
nav{
    margin: 0 auto;
   
    border: 1px solid black;
    border-radius: 1.6em;
   padding: 0.5em;
   background-color: #111827;
   max-width: 83.7em;
}
.margin{
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}
nav div{
    background-color: #111827;
}

nav ul li a{
    color: white
}

.white-color{
    color:white;
}
